// Variables //
$navy-blue:#21314E;
$black: #000;
$red: #D03536;
$white: #fff;
$gray: rgba(128, 128, 128, 0.425);
$footerGray: #C9CDCF;
$dotColorBrown : #4B8052;
$dotColorPink : #E76767;
$dotColorRed : #D55C30;
$dotColorYellow : #D9B341;
$dotColorBlue : #325EAC;
// Variables End //